USE [tvsf]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 20.05.2021 17:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[organization_id] [int] NOT NULL,
	[surname] [nvarchar](512) NOT NULL,
	[name] [nvarchar](512) NOT NULL,
	[middle_name] [nvarchar](512) NULL,
	[birth_date] [date] NOT NULL,
	[passport_number] [bigint] NOT NULL,
	[description] [nvarchar](512) NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_stg]    Script Date: 20.05.2021 17:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_stg](
	[organization_id] [int] NOT NULL,
	[surname] [nvarchar](512) NOT NULL,
	[name] [nvarchar](512) NOT NULL,
	[middle_name] [nvarchar](512) NULL,
	[birth_date] [date] NOT NULL,
	[passport_number] [bigint] NOT NULL,
	[description] [nvarchar](512) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organization]    Script Date: 20.05.2021 17:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organization](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[inn] [bigint] NOT NULL,
	[legal_address] [nvarchar](1024) NOT NULL,
	[physical_address] [nvarchar](1024) NULL,
	[description] [nvarchar](512) NULL,
 CONSTRAINT [PK_organizations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id], [organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (1, 1, N'Воробьев', N'Вячеслав', N'Артёмович', CAST(N'1953-05-12' AS Date), 4369375237, N'5567ed33')
INSERT [dbo].[employee] ([id], [organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (2, 1, N'Егорова', N'Мария', N'Артемьевна', CAST(N'1995-06-29' AS Date), 4946819262, N'eec4a91b')
INSERT [dbo].[employee] ([id], [organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (3, 1, N'Старостина', N'Надежда', N'Тимуровна', CAST(N'1962-03-10' AS Date), 4050659419, N'8e675413')
GO
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
INSERT [dbo].[employee_stg] ([organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (14, N'Гусев', N'Даниил', N'Мирославович', CAST(N'1991-08-28' AS Date), 4758871931, N'aa5c6b13')
INSERT [dbo].[employee_stg] ([organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (14, N'Поляков', N'Тимофей', N'Ильич', CAST(N'1951-02-01' AS Date), 4289463352, N'cc169a58')
INSERT [dbo].[employee_stg] ([organization_id], [surname], [name], [middle_name], [birth_date], [passport_number], [description]) VALUES (14, N'Фомин', N'Егор', N'Андреевич', CAST(N'1987-03-30' AS Date), 4677811619, N'96d31380')
GO
SET IDENTITY_INSERT [dbo].[organization] ON 

INSERT [dbo].[organization] ([id], [name], [inn], [legal_address], [physical_address], [description]) VALUES (1, N'"АГАПЕ"', 7723517121, N'109559, г Москва, УЛ ВЕРХНИЕ ПОЛЯ, Д 35, КОРП 5', N'109559, г Москва, УЛ ВЕРХНИЕ ПОЛЯ, Д 35, КОРП 5', N'ФОНД "АГАПЕ"')
INSERT [dbo].[organization] ([id], [name], [inn], [legal_address], [physical_address], [description]) VALUES (2, N'"АЛЬТАСТРОЙ"', 7717161935, N'109386, МОСКВА Г, КРАСНОДОНСКАЯ УЛ, ДОМ 19, КОРПУС 2, ПОМ II КОМ 9, 12', N'109386, МОСКВА Г, КРАСНОДОНСКАЯ УЛ, ДОМ 19, КОРПУС 2, ПОМ II КОМ 9, 12', N'ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АЛЬТАСТРОЙ"')
INSERT [dbo].[organization] ([id], [name], [inn], [legal_address], [physical_address], [description]) VALUES (3, N'"Благотворительное общество "Адреса милосердия"', 7721503733, N'109380, г Москва, ул Степана Шутова, д 4, стр 1', N'109380, г Москва, ул Степана Шутова, д 4, стр 1', N'"ФОНД "БЛАГОТВОРИТЕЛЬНОЕ ОБЩЕСТВО "АДРЕСА МИЛОСЕРДИЯ"')
SET IDENTITY_INSERT [dbo].[organization] OFF
GO
